#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.response {
  border-radius: 4px;
  margin-top: 16px;
}

.message   {
  background-color: #e8f5e9;
  border: 1px solid #81c784;
  color: #2e7d32;
  padding: 16px;
}

.error {
  padding: 16px;
  background-color: #ffebee;
  border: 1px solid #e57373;
  color: #c62828;
}
input {
  padding: 10px 20px;
  font-size: larger;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
